/************/
/* SORTABLE */
/************/

body {
  min-height: 100%;
  height: auto;
}

ol[data-drag-sortable],
ul[data-drag-canvas] {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

*[data-drag-draggable],
ol[data-drag-sortable] > li,
ul[data-drag-canvas] > * {
  cursor:      default;
  cursor: -webkit-grab;
  cursor:    -moz-grab;
  cursor:     -ms-grab;
  cursor:         grab;
  z-index: 1;
}

ol[data-drag-sortable] > li {
  transition: none !important;
  will-change: transform;
}

.not-ios ol[data-drag-sortable] > li {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(0) translateY(0) translateZ(0);
     -moz-transform: translateX(0) translateY(0) translateZ(0);
      -ms-transform: translateX(0) translateY(0) translateZ(0);
          transform: translateX(0) translateY(0) translateZ(0);
  will-change: transform;
}

ol[data-drag-sortable='horizontal'] {
  overflow-y: hidden;
  white-space: nowrap;
}

ol[data-drag-sortable='horizontal'] > li {
  display: inline-block;
  white-space: normal;
}

ol[data-drag-sortable='vertical'] {
  overflow-x: hidden;
}

ol[data-drag-sortable='wrap'] > li {
  overflow-x: hidden;
  display: inline-block;
  white-space: wrap;
}


/**********/
/* CANVAS */
/**********/

ul[data-drag-canvas] {
  min-width: 1px;
  min-height: 1px;
  padding: 0;
}

*[data-drag-disabled],
*[data-drag-disabled] > * {
  cursor: default;
}

ul[data-drag-canvas] > * {
  position: absolute;
  display: inline-block;
  margin: 0;
}



/**************/
/* SCROLLABLE */
/**************/

*[data-drag-scrollable],
*[data-drag-scrollable='vertical'] {
  -webkit-overflow-scrolling: scroll;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

*[data-drag-scrollable='both'] {
  overflow-x: auto;
}

*[data-drag-scrollable='horizontal'] {
  overflow-x: auto;
  overflow-y: hidden;
}


/**********/
/* COMMON */
/**********/

*[data-drag-disabled] {
  cursor: default;
}

*[data-drag-disabled] > * {
  cursor: default;
}

*[data-drag-handle] {
  cursor: hand;
  cursor: -webkit-grab;
  cursor:    -moz-grab;
  cursor:     -ms-grab;
  cursor:         grab;
}

body[data-drag-in-progress] {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor:    -moz-grabbing;
  cursor:     -ms-grabbing;
  cursor:         grabbing;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

body[data-drag-in-progress] > * {
  -webkit-pointer-events: none !important;
     -moz-pointer-events: none !important;
      -ms-pointer-events: none !important;
          pointer-events: none !important;
}

body[data-drag-in-progress] ol[data-drag-sortable] *,
body[data-drag-in-progress] *[data-drag-droppable] *,
body[data-drag-in-progress] ul[data-drag-canvas] * {
  -webkit-pointer-events: none !important;
     -moz-pointer-events: none !important;
      -ms-pointer-events: none !important;
          pointer-events: none !important;
}

body[data-drag-in-progress] ol[data-drag-sortable],
body[data-drag-in-progress] *[data-drag-droppable],
body[data-drag-in-progress] ol[data-drag-sortable] > li,
body[data-drag-in-progress] *[data-drag-droppable] > *,
body[data-drag-in-progress] ul[data-drag-canvas] {
  -webkit-pointer-events: all !important;
     -moz-pointer-events: all !important;
      -ms-pointer-events: all !important;
          pointer-events: all !important;
}

[data-drag-placeholder] {
  z-index: -1;
}

.dd-drag-hover > * {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}

*[data-drag-helper] {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 0 0 rgba(0,0,0,0.2);
  will-change: transform;
}

.ios *[data-drag-helper] {
  /* IMPORTANT - transition smooths on iOS but not in Chrome */
  -webkit-transition: -webkit-transform 10ms linear;
     -moz-transition:    -moz-transform 10ms linear;
      -ms-transition:     -ms-transform 10ms linear;
          transition:         transform 10ms linear;
}

*[data-drag-helper],
*[data-drag-helper] *,
body[data-drag-in-progress] [data-drag-helper],
body[data-drag-in-progress] [data-drag-helper] * {
  -webkit-pointer-events: none !important;
     -moz-pointer-events: none !important;
      -ms-pointer-events: none !important;
          pointer-events: none !important;
}
