*[data-drag-disabled] {
  opacity: 0.5;
}

ul[data-drag-canvas] {
  border: 1px solid transparent;
  transition: border 250ms linear;
}

ol[data-drag-sortable] {
  list-style: none;
  border: 1px solid transparent;
  transition: border 250ms linear;
  margin: 0;
  padding: 0;
  min-height: 30px;
}

.dd-drag-over[data-drag-canvas],
.dd-drag-over[data-drag-sortable] {
  /* disabled due to ios impact */
  /*border: 1px solid #35BDB2;*/
}


li, ol li {
  list-style: none;
  overfow: hidden;
  background: #f2f3f5;
  padding: 4px 8px;
  box-sizing: border-box;
}
ol[data-drag-sortable] {
  border: 1px solid #EEE;
}
ol[data-drag-sortable] > li {
  margin: 0 0 4px 0;
}
ol[data-drag-sortable] > li:last-of-type {
  margin: 0 0 0 0;
}

ol[data-drag-sortable] ol[data-drag-sortable] {
  border-left: 2px solid #2185d0;
}

ol[data-drag-sortable="vertical"] {
  overflow-y: auto;
}

ol[data-drag-sortable="vertical"] li {
  margin: 0 0 4px 0;
}

ol[data-drag-sortable="horizontal"] {
  overflow-y: hidden;
  overflow-x: auto;
}

ol[data-drag-sortable="horizontal"] li {
  margin: 0 4px 0 0;
}

ol[data-drag-sortable="wrap"] {
  overflow: hidden;
}

ol[data-drag-sortable="wrap"] li {
  margin: 2px;
}
