
[data-drag-sortable],
[data-drag-canvas] {
  // required to ensure offset positions are relative to containers
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

[data-drag-canvas] > * {
  position: absolute;
  display: inline-block;
  margin: 0;
}

[data-drag-sortable] > *,
[data-drag-canvas] > * {
  cursor: default;
}

[data-drag-disabled] {
  cursor: default;
}

.dd-drag-placeholder {
  opacity: 0.1;
  box-shadow: none !important;
  z-index: -1;
  position: relative;
}

[data-drag-handle] {
  cursor: pointer;
}

[data-drag-sortable="horizontal"] {
  overflow-y: hidden;
  white-space: nowrap;
}

[data-drag-sortable="horizontal"] > * {
  display: inline-block;
}

[data-drag-sortable="vertical"] {
  overflow-x: hidden;
}


/* TODO figure out a different way of applying these classes */
/* performance of * is problematic */
.dd-drag-hover > * {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}
.dd-drag-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  overflow: hidden;
  z-index: 10000;
  cursor: hand;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dd-drag-ghost {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 0 0 rgba(0,0,0,0.15);
  will-change: transform;
}
[data-drag-sortable] > * {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}
