/*
//red #db2828
//orange #f2711c
//yellow #fbbd08
//lime #b5cc18
//green #21ba45
//aqua #00b5ad
//blue #2185d0
//indigo #6435c9
//purple #a333c8
//pink #e03997
//brown #a5673f
//gray #767676
//black #1b1c1d
*/

.red    { background-color: #db2828; }
.orange { background-color: #f2711c; }
.yellow { background-color: #fbbd08; }
.lime   { background-color: #b5cc18; }
.green  { background-color: #21ba45; }

[data-drag-accepts=".red"] { border: 1px solid #db2828; }
[data-drag-accepts=".orange"] { border: 1px solid #f2711c; }
[data-drag-accepts=".yellow"] { border: 1px solid #fbbd08; }


.dd-drag-over {
  border: 1px solid #35BDB2;
}

body {
  font-size: 16px;
}

.scale50 {
  -webkit-transform: scale(0.5, 0.5);
     -moz-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.main.container {
  margin-top: 7em;
}

.slider {
  width:30px;
  height:30px;
  background: #f2f3f5;
  border-radius: 15px;
}
.slider.horizontal {
  width: 200px;
}
.slider.vertical {
  height: 200px;
}

.slider-handle {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

li {
  line-height:1.5;
}
