//red #db2828
//orange #f2711c
//yellow #fbbd08
//lime #b5cc18
//green #21ba45
//aqua #00b5ad
//blue #2185d0
//indigo #6435c9
//purple #a333c8
//pink #e03997
//brown #a5673f
//gray #767676
//black #1b1c1d

.red    { background-color: #db2828; }
.orange { background-color: #f2711c; }
.yellow { background-color: #fbbd08; }
.lime   { background-color: #b5cc18; }
.green  { background-color: #21ba45; }

[data-drag-accepts=".red"] { border: 1px solid #db2828; }
[data-drag-accepts=".orange"] { border: 1px solid #f2711c; }
[data-drag-accepts=".yellow"] { border: 1px solid #fbbd08; }

ol {
  list-style: none;
  border: 1px solid transparent;
  margin: 8px;
  padding: 0;
  transition: border 250ms linear;
  min-height: 40px;
}
[data-drag-canvas] {
  border: 1px solid transparent;
}
ol.vertical {
  max-height: 300px;
  overflow-y: auto;
  max-width: 500px;
}
ol.horizontal {
  max-width: 500px;
  overflow-y: hidden;
  overflow-x: auto;
}
li, ol li {
  list-style: none;
  overfow: hidden;
  background: #f2f3f5;
  margin: 4px;
  padding: 4px 8px;
  box-sizing: border-box;
}
ol ol {
  border-left: 1px solid #2185d0;
}

.dd-drag-hover {
  position: relative;
  border: 1px solid #35BDB2;
}

body {
  font-size: 16px;
}

.main.container {
  margin-top: 7em;
}
