.card {
  width: 240px;
  height: 148px;
}

.day {
  display: flex !important;
  display: -webkit-flex !important;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.day-header {
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.day-activities {
  width: 248px;
  min-height:148px;
  padding: 4px !important;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-shrink: 1;
  -webkit-flex-shrink: 1;
}

.layout {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}

.layout-activities {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  padding: 20px;
  background: #EEE;
}

.layout-plan {
  display: flex;
  display: -webkit-flex;
  flex-grow: 1;
  flex-shrink: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 1;
}

.layout-plan > ol[data-drag-sortable] {
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-shrink: 0;
  overflow: scroll;
}

.ui.card {
  margin-top: 0;
}
.ui.card:last-child {
  margin-bottom: 14px;
}
