.card {
  width: 240px !important;
  min-width: 240px !important;
  max-width: 240px !important;
}

.day-header {
  flex-grow: 0;
  -webkit-flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.layout {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}

.layout-activities {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  padding: 20px;
  background: #EEE;
}

.layout-plan {
  flex-grow: 1;
  flex-shrink: 1;
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 1;
  overflow: scroll;
}

.days-list {
  overflow: scroll;
  margin: 10px;
  height: 100%;
  max-width: 100%;
  white-space: nowrap;
  padding: 20px !important;
}

.day {
  display: inline-flex !important;
  display: -webkit-inline-flex !important;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  margin: 8px;
}

.day-activities {
  width: 253px;
  min-height:148px;
  padding: 4px !important;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-shrink: 1;
  -webkit-flex-shrink: 1;
}




.ui.card {
  margin-top: 0;
}
.ui.card:last-child {
  margin-bottom: 14px;
}
